@CHARSET "UTF-8";
html,body{
	width: 1200px;
	height: 1900px;
	margin: 0px auto;
	padding: 0px;
	z-index:0;
}

#main{
	position:relative;
	float:left;
	width: 100%;
	height: 1700px;
	background-color: #FFFFFF;
	float:left;
}
.header{
	margin-top:10px;
	position:relative;
	float :left;
	width:1200px;
	height:100px;
}
.headerLeft{
	width:350px;
	float:left;
}
.headerCenter{
	margin-left:30px;
	margin-top: 50px;
	float:left;
	width:500px;
	height:50px;
	border-color: red;
}
.headerCenter .text{
	float: left;
	width: 294px;
	height: 24px;
	line-height: 24px;
	color: #999;
	padding: 4px;
	margin-bottom: 4px;
	border-width: 2px 0 2px 2px;
	border-color: #f30213;
	border-style: solid;
	outline: 0;
	font-size: 12px;
}
.headerCenter .button{
	float: left;
	width: 80px;
	height: 40px;
	font-family: tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
	background: #f30213;
	border: none;
	border-radius: 0;
	line-height: 1;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.headerCenter .button2{
	float: left;
	width: 80px;
	height: 40px;
	font-family: tahoma,arial,Microsoft YaHei,Hiragino Sans GB,"\u5b8b\u4f53",sans-serif;
	background: #253646;
	border: none;
	border-radius: 0;
	line-height: 1;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

#search{
	height:40px;
	width:300px;
	border-color: red;
	padding-left: 0px;
}
.headerRight{
	margin-top:50px;
	margin-right:110px;
	width:180px;
	float:right;
	z-index: 11;
	height: 36px;
	padding: 0;
	background-color: #F5F5F5;
}
.headerRight li{
	line-height:36px;
	text-align: center;
	color: red;
}
.zhaopai{
	position:relative;
	margin-top:150px;
	height: 60px;
	width: 1200px;
}
.zhaologo{
	margin-left: 150px;
	height: 50px;
	width: 450px;
	float:left;
}
.jian{
	position:relative;
	margin-top:20px;
	margin-right:220px;
	float:right;
}
.nav{
	position:relative;
	float :left;
	width:1200px;
	height: 34px;
	float:left;
	background-color: red; 
}
.nav .dropdown{
	margin-left: 120px;
	width: 100px;
	position:relative;
	float :left;
}
.nav .menu{
	position:relative;
	float :left;
	width: 800px;
	height: 34px;
	margin-left: 60px;
}
.nav .menu ul{
	float:left;
	width: 800px;
	height: 34px;
	/* margin-left: 60px; */
	text-align: center;
}
.nav .menu ul li a{
	text-decoration: none;
	float:left;
	width: 95px;
	height: 34px;
	line-height: 34px;
	text-align:center;
	color: #DFF0D8;
	font-size: 16px;
}
.nav .menu ul li a:hover{
	width: 95px;
	height: 34px;
	background-color: #DFF0D8;
	color: red; 
}
#clear{clear:both;}
#content{
	position: relative;
	float:left;
	height: 545px;
	width: 1200px;
}
#conLeft{
	margin-top: 6px;
	position: relative;
	float: left;
	width: 400px;
	height: 500px;
}
#clbutton{
	margin-top: 4px;
	margin-left: 10px;
	width: 400px;
	height: 100px;
	float: left;
	padding-right: 5px;
	
}
#clbutton .imgselect{
	border: 1px solid #F7F7F7;
}


#goodsinfo{
	position: relative;
	float: left;
	width: 450px;
	height: 500px;
	margin-left:50px;
	margin-top: 20px;
 }
#goods_name{
	font-size: 17px;
}
p{
	margin-top: 10px;
}
 #goodsinfo>div{
	float: left;
	
} 

#div_price{
	width: 400px;
	background-color: aliceblue;
	font-size: 15px;
	margin-top: 10px;
	height:35px;
	padding-bottom: 6px;
}
#sale{
	margin-top: 10px;
	/* background-color: aliceblue; */
	width: 450px;
	height: 25px;
}

#sale .cuxiao{
	color: #df3033;
	background: 0 0;
	border: 1px solid #df3033;
	padding: 2px 3px;
	margin-right: 5px;
	display: inline-block;
	line-height: 16px;
}
#sale .cutext{
	color:#666;
	line-height: 18px;
}

#address{
	margin-top: 12px;
	width: 450px;
	padding: 5px 3px;
	height: 25px;
}
#address .colour_but{
	margin-right: 19px;
}
#series{
	margin-top: 15px;
	width: 450px;
	padding: 5px 1px;
	height: 100px;
}

#series .series_div{
	position: relative;
	float: left;
	margin-left: 60px;
	margin-top: 9px;
	width: 250px;
}
#series .series_div ul{
	float:left;
	padding: 5px 6x;
	width: 300px;
	height: 30px;
}
#series .series_div ul li{
	float:left;
	width: 60px;
	height: 30px;
	margin-right: 40px;
}

#series .series_but{
	width: 60px;
	height: 25px;
	border: 1px solid #F7F7F7;
}
#goodsinfo #Num{
	margin-top:15px;
	position:relative;
	float:left;
	width:110px;
	height: 35px;
}
#goodsinfo #Num input{
	width: 17px;
}
#goodsinfo #numSpan{
	margin-top:15px;
	margin-left:30px;
	position:relative;
	float:left;
	height: 35px;
	font-size: 15px;
	color:#666;
}
#goodsinfo #addCart{
	position: relative;
	float:left;
	margin-top:20px;
	width: 450px;
	height: 40px;
}

#goodsinfo #addCart #cartBut{
	position: relative;
	float:left;
	width:180px;
	height: 40px;
	border: 1px solid #df3033;
	background-color: #FFFFFF;
	font-size:16px;
	color: red;
	line-height: 40px;
}
#goodsinfo #addCart #orderBut{
	position: relative;
	float:left;
	width:180px;
	height: 40px;
	margin-left:30px;
	border: 1px solid #df3033;
	background-color: #df3033;
	font-size:16px;
	color: #fff;
	line-height: 40px;
}
#goodsinfo #fuwu{
	margin-top:30px;
	position: relative;
	float:left;
	width:450px;
	height: 40px;
}
#goodsinfo #fuwu ul{
	float:left;
	width:450px;
	height: 40px;
}
#goodsinfo #fuwu ul li a{
	height: 40px;
	float:left;
	text-decoration: none;
	width: 80px;
	line-height: 40px;
	text-align:center;
	color: #A9A9A9;
}
/* 信息不完整时提示 */
#div_message {
	padding: 10px;
    border: 1px;
    border-radius: 4px;
    background-color: #bc8c02;
    width: 150px;
    height: 35px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    position: absolute;
    font-size: 15px;
    top: 90%;
    left: 65%;
    margin: -150px 0 0 -100px;
    z-index: 9999;
}
#div_addCartOk{
	padding: 10px;
    border: 1px;
    border-radius: 4px;
    background-color: #bc8c02;
    width: 150px;
    height: 35px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: white;
    position: absolute;
    font-size: 15px;
    top: 90%;
    left: 65%;
    margin: -150px 0 0 -100px;
    z-index: 9999;
}

/*详情右侧样式  */
#content #conRight{
	 margin-top:15px; 
	position: relative;
	float:left;
	width: 270px;
	height: 530px;
}
#conRight .tip{
	margin-left: 60px;
	color: #99A6BF;
}
.bcon{ width:260px; border:1px solid #eee;font-size:12px;}
.bcon h1{ border-bottom:1px solid #eee; padding:0 10px; text-align: center;margin-top: 1px;}
.bcon h1 b{ 
	font:bold 14px/40px '宋体'; 
	border-top:2px solid #3492D1; 
	padding:0 8px; 
	margin-top:-1px; 
	display:inline-block;}
.list_lh{ height:440px; overflow:hidden;}
/* .list_lh li{ padding:2px;}  */
.list_lh li.lieven{ background:#F0F2F3;}
.list_lh li p{ height:24px; line-height:24px;}
.list_lh li p a{ float:left;color:#666; text-decoration:none;}
.list_lh li p em{ width:80px; font:normal 12px/24px Arial; color:#FF3300; float:right; display:inline-block;}
.list_lh li p span{ color:#999; float:right;}
.list_lh li p a.btn_lh{ background:#28BD19; height:17px; line-height:17px; color:#fff; padding:0 5px; margin-top:4px; display:inline-block; float:right;}
.btn_lh:hover{ color:#fff; text-decoration:none;}

/*店铺部分 */








/*banner_xia*/
#banner_xia {
	position: relative;
	float: left;
	width: 1200px;
	height: 40px;
}

#banner_xia #left {
	position: relative;
	float: left;
	background-color: red; 
	/* border:2px solid red; */
	width: 200px;
	height: 40px;
}

#banner_xia #left a {
	position: relative;
	float: left;
	color: white;
	margin-top: 10px;
	margin-left: 50px;
	font-weight: bold;
}

#banner_xia #right {
	position: relative;
	float: left;
	width: 1000px;
	height: 40px;
}

#banner_xia #right ul {
	position: relative;
	float: left;
	width: 1000px;
	height: 40px;
}

.seldiv {
	position: relative;
	float: left;
	height: 30px;
	width:70px;
	text-align:center;
	margin-left: 90px;
	margin-top: 6px;
	line-height: 30px;
}
.seldiv a{
	text-decoration: none;
}



#banner_xia #right li a {
	margin-left:8px;
	position: relative;
	float: left;
	color: black;
	font-weight: bold;
}

/*bottom*/
#bottom #bottom_left {
	position: relative;
	float: left;
	width: 200px;
	height: 1024px;
}

#bottom #bottom_left .bottom_left {
	position: relative;
	float: left;
	width: 200px;
	height: 280px;
	text-align: left;
}

#bottom #bottom_left i {
	position: relative;
	float: left;
	font-weight: bold;
}

#bottom #bottom_left 
.bottom_left .bottom_left_img {
	position: relative;
	float: left;
	width: 200px;
	height: 180px;
}

#bottom #bottom_left b {
	position: relative;
	float: left;
	width: 200px;
	color: red;
}

#bottom #bottom_left 
.bottom_left p  a {
	position: relative;
	float: left;
	width: 200px;
	font-size: 14px;
}
#bottom .bottom_right{
	position: relative;
	float: left;
	width:1000px;
	height:810px;
}
#bottom .bottom_right .abright{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	border:1px solid #E7E7E7 ;
}

/*foot*/
.foot {
	position: relative;
	float: left;
	width: 1200px;
	height: 160px;
	margin-top: 3%;
	background: #EAEAEA;
}

.foot p {
	position: relative;
	float: left;
	width: 1200px;
	margin-top: 1%;
	margin-left: 10%;
	color: white;
	font-size: 14px;
}

.foot p a, .foot p span {
	position: relative;
	float: left;
	margin-left: 2%;
	color: #666666;
}

.foot p a:hover {
	color: red;
}
.storebut{
	position: relative;
	float: left;
	width: 42%;
	border: 2px solid #010A111A;
	margin-top: 6px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.storebut.guan{
	margin-left: 10px;
}
.collectdiv{
	width: 120px;
	height: 30px;
	float: right;
	margin-top: 20px;
	margin-right: -300px;
}
.collectdiv #collect{
	border: 2px solid #1B3D591A;
	height: 30px;
	width: 100px;
}
		#Jsmain{
			position: relative;
			float: left;
			width: 1000px;
			height: 810px;
			
		}
		#Info{
			position: relative;
			float: left;
			width: 990px;
			height: 200px;
			border:1px solid #E7E7E7 ;
		}
		#Info>div{
			position: relative;
			float: left;
			font-family: "微软雅黑";
			color:#666666;
			width: 280px;
			font-size: 13px;
			margin-top: 30px;
		}
		#Info #Info_left{
			position: relative;
			float: left;
			margin-left: 120px;
			font-family: "微软雅黑";
		}
		#dess{
			position: relative;
			float: left;
			width: 1000px;
			height: 750px;
		}
		#dess #video{
			position: relative;
			float: left;
			height:100px;
			width: 1000px;
		}
		#dess #show{
			position: relative;
			float: left;
			margin-left: 50px;
			
		}
		
.abright .pingJiadiv{
	position: relative;
	float: left;
	width: 990px;
	
	border: 1px solid #E7E7E7;
}
.pingJiadiv span{
	position: relative;
	float: right;
}
.pingJiadiv .usertext{
	position: relative;
	float: left;
	width: 990px;
}