<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- mangoDB -->
	<!-- 用户评价的服务层   1-->
	<bean id="liuYanService" class="com.ego.service.impl.LiuYanServiceImpl">
		<property name="liuYanDao" ref="liuYanDao"></property>
	</bean> 
	<!-- 浏览足迹的服务层 2-->
	<bean id="liuLanService" class="com.ego.service.impl.LiuLanServiceImpl">
		<property name="liuLanDao" ref="liuLanDao"></property>
	</bean> 
	<!-- 商品的服务层 3 -->
	<bean id="goodsService" class="com.ego.service.impl.GoodsServiceImpl">
		<property name="goodsDao"  ref="goodsDao"></property>
		<property name="imgMapper" ref="imgMapper"></property>
	</bean>
	 
	
	
	
	<!-- mysql映射  -->
	<!-- 管理员的服务层  4  -->
	<bean id="adminService" class="com.ego.service.impl.AdminServiceImpl">
		<property name="adminMapper" ref="adminMapper"></property>
	</bean> 
	<!-- 用户的服务层 5 -->
	<bean id="userService" class="com.ego.service.impl.UserServiceImpl">
		<property name="userMapper" ref="userMapper"></property>
	</bean> 

	<!-- 订单退货的服务层  6 -->
	<bean id="thOrderItemService" class="com.ego.service.impl.ThOrderItemServiceImpl">
		<property name="thOrderItemMapper" ref="thOrderItemMapper"></property>
	</bean> 
	<!-- 购物车服务层  7 -->
	<bean id="cartService" class="com.ego.service.impl.CartServiceImpl">
		<property name="cartMapper" ref="cartMapper"></property>
			<property name="goodsDao" ref="goodsDao"></property>
				<property name="storeMapper" ref="storeMapper"></property>
	</bean> 
	<!-- 订单服务层  8 -->
	<bean id="orderService" class="com.ego.service.impl.OrderServiceImpl">
		<property name="orderMapper" ref="orderMapper"></property>
	</bean> 
	<!-- 省市区的区服务层 9 -->
	<bean id="areaService" class="com.ego.service.impl.AreaServiceImpl">
		<property name="areaMapper" ref="areaMapper"></property>
	</bean> 
	<!-- 省市区的市服务层  10 -->
	<bean id="cityService" class="com.ego.service.impl.CityServiceImpl">
		<property name="cityMapper" ref="cityMapper"></property>
	</bean> 
	
	<!-- 省市区的省服务层 11 -->
	<bean id="provinceService" class="com.ego.service.impl.ProvinceServiceImpl">
		<property name="provinceMapper" ref="provinceMapper"></property>
	</bean> 
	<!-- 订单详情服务层 12 -->
	<bean id="orderItemsService" class="com.ego.service.impl.OrderItemsServiceImpl">
		<property name="orderItemsMapper" ref="orderItemsMapper"></property>
	</bean>
	<!-- 商品类型服务层 13 -->
	<bean id="typeService" class="com.ego.service.impl.TypeServiceImpl">
		<property name="typeMapper" ref="typeMapper"></property>
	</bean>
	
		<!-- 店铺服务层  14 -->
	<bean id="storeService" class="com.ego.service.impl.StoreServiceImpl">
		<property name="storeMapper" ref="storeMapper"></property>
	</bean> 
		<!-- 权限的服务层  15 -->
	<bean id="permissiomService" class="com.ego.service.impl.PermissiomServiceImpl">
		<property name="permissionMapper" ref="permissionMapper"></property>
	</bean> 
		<!-- 角色服务层  16 -->
	<bean id="roleService" class="com.ego.service.impl.RoleServiceImpl">
		<property name="roleMapper" ref="roleMapper"></property>
	</bean> 
		<!-- 评价服务层  17 -->
	<bean id="pingJiaService" class="com.ego.service.impl.PingJiaServiceImpl">
	</bean> 
		<!-- 收藏服务层  18-->
	<bean id="collectGoodsService" class="com.ego.service.impl.CollectGoodsServiceImpl">
	</bean> 
	<!-- 管理员首页信息服务层  19-->
	<bean id="adminMessageService" class="com.ego.service.impl.AdminMessageServiceImpl">
		<property name="orderMapper" ref="orderMapper"></property>
		<property name="goodsDao" ref="goodsDao"></property>
		<property name="pingJiaDao" ref="pingJiaDao"></property>
	</bean> 
	<!--订单状态的服务层 -->
	 <bean id="statusService" class="com.ego.service.impl.StatusServiceImpl">
		<!-- <property name="statusMapper" ref="statusMapper"></property> -->
	</bean> 

</beans>
