<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ego.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.ego.mapper.po.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="INTEGER" />
    <result column="sum" property="sum" jdbcType="DECIMAL" />
    <result column="stores" property="stores" jdbcType="INTEGER" />
    <result column="sendstatus" property="sendstatus" jdbcType="INTEGER" />
    <result column="getstatus" property="getstatus" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="modifidate" property="modifidate" jdbcType="TIMESTAMP" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sn, user, sum, stores, sendstatus, getstatus, status, modifidate, createdate
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ego.mapper.po.Order" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
   SELECT LAST_INSERT_ID()
  </selectKey>
    insert into orders (id, sn, user, 
      sum, stores, sendstatus, 
      getstatus, status, modifidate, 
      createdate)
    values (#{id,jdbcType=INTEGER}, #{sn,jdbcType=VARCHAR}, #{user,jdbcType=INTEGER}, 
      #{sum,jdbcType=DECIMAL}, #{stores,jdbcType=INTEGER}, #{sendstatus,jdbcType=INTEGER}, 
      #{getstatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{modifidate,jdbcType=TIMESTAMP}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ego.mapper.po.Order" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="sum != null" >
        sum,
      </if>
      <if test="stores != null" >
        stores,
      </if>
      <if test="sendstatus != null" >
        sendstatus,
      </if>
      <if test="getstatus != null" >
        getstatus,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="modifidate != null" >
        modifidate,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=INTEGER},
      </if>
      <if test="sum != null" >
        #{sum,jdbcType=DECIMAL},
      </if>
      <if test="stores != null" >
        #{stores,jdbcType=INTEGER},
      </if>
      <if test="sendstatus != null" >
        #{sendstatus,jdbcType=INTEGER},
      </if>
      <if test="getstatus != null" >
        #{getstatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="modifidate != null" >
        #{modifidate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ego.mapper.po.Order" >
    update orders
    <set >
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=INTEGER},
      </if>
      <if test="sum != null" >
        sum = #{sum,jdbcType=DECIMAL},
      </if>
      <if test="stores != null" >
        stores = #{stores,jdbcType=INTEGER},
      </if>
      <if test="sendstatus != null" >
        sendstatus = #{sendstatus,jdbcType=INTEGER},
      </if>
      <if test="getstatus != null" >
        getstatus = #{getstatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="modifidate != null" >
        modifidate = #{modifidate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ego.mapper.po.Order" >
    update orders
    set sn = #{sn,jdbcType=VARCHAR},
      user = #{user,jdbcType=INTEGER},
      sum = #{sum,jdbcType=DECIMAL},
      stores = #{stores,jdbcType=INTEGER},
      sendstatus = #{sendstatus,jdbcType=INTEGER},
      getstatus = #{getstatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      modifidate = #{modifidate,jdbcType=TIMESTAMP},
      createdate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>